name: GitHub Stats Cards

on:
  schedule:
    - cron: "0 */24 * * *"  
  workflow_dispatch:       

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate GitHub Stats
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: Anthonyli24
          THEME: github_dark

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add .
          git commit -m "update stats"
          git push
